*{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.header{
    display: flex;
    background-color: rgb(51, 49, 49);
    color: aliceblue;
    padding: 35px;
}

.header ul{
    display: flex;
    list-style: none;
}
.header a{
    padding: 9px;
}
